.footer {
  position: absolute;
  z-index: 1;
  margin-bottom: -100px;
  padding: 2rem;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $primary-color;
  color: $white-color;

  & i {
    font-size: 1.5rem;
    margin: 20px;
    color: $secondary-color;
  }
}