.header {
  & .container {
    margin-top: 20px;
  }

  & h1 {
    margin-bottom: 0px;
  }

  & h2 {
    color: $primary-color;
    margin-top: 0px;
  }

  & img {
    height: 100px;
  }

  & .navbar-light .navbar-toggler {
    border-color: transparent;
    padding: 0px;
  }
}

@include media-breakpoint-up(sm) {
  .header {
    & img {
      height: 125px;
    }
  }
}