.header {
  & .container {
    margin-top: 20px;
  }

  & h2 {
    color: $primary-color;
  }

  & img {
    height: 100px;
  }
}

@include media-breakpoint-up(sm) {
  .header {
    & img {
      height: 125px;
    }
  }
}