.avatar {
    vertical-align: middle;
    width: 15%;
    height: 15%;
    border-radius: 50%;
}

.icon {
    vertical-align: middle;

    &.rounded {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        font-size: 1.5rem;
        margin: 20px;
        color: $secondary-color;
    }

    &.external {
        margin-left: 10px;
    }
}

/* Smartphones (portrait and landscape) */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .avatar {
        width: 25%;
        height: 25%;
    }
}
