.main {
  position: relative;
  z-index: 2;
  
  > .intro {
    background-color: $primary-color;
    height: 100px;
  }

  > .container {
    margin-top: -2rem;
  }

  > .container > .box {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 5px 5px 0 rgba(233,240,243,0.5), 0 0 0 1px #E6ECF8;
    display: block;
    padding: 1.25rem;
    margin-bottom: 1.2rem;
  }
}