.skills {
  & .container {
    margin-top: -2rem;
  }

  & .intro {
    background-color: $primary-color;
    height: 100px;
  }

  & .box {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 5px 5px 0 rgba(233,240,243,0.5), 0 0 0 1px #E6ECF8;
    display: block;
    padding: 1.25rem;
    margin-bottom: 1.2rem;

    & .title {
      color: $primary-color;
      margin-bottom: 5px;
    }

    & .item {
      margin: 0px;
    }
  }

  & .project {
    margin-bottom: 10px;

    & .title {
      color: $primary-color;
    }

    a {
      color: $black-color;
      text-decoration: none;
    }
  }
}