.personal-project{
    &.container {
        &.separator {
            border-bottom: 1px solid $grey-color;
            margin-bottom: 20px;
        }
    }

    & .subtitle {
        color: $grey-color;
    }
}