.company {
    &.container:not(:last-child){
        margin-bottom: 20px;
        margin-top: 0px;
        border-bottom: 2px solid $primary-color;
    }
      
    & .title {
        margin-bottom: 10px;

        & h6 {
            color: $primary-color;
            margin-bottom: 5px;
        }
    }

    & .title .subtitle {
        color: $grey-color;
        margin-bottom: 5px;
    }
}

.project{
    &.container {
        margin-left: 20px;
        padding: 0px;

        &.separator {
            border-bottom: 1px solid $grey-color;
            margin-bottom: 20px;
        }
    }

    & .subtitle {
        color: $grey-color;
    }
}