html {
  font-size: 1rem;
}

body .App{
  font-family: 'Lato', sans-serif;
  color: $black-color;
}

.margin-none {
  margin: 0px!important;
}

.padding-none {
  padding: 0px!important;
}

.align-tr {
  text-align: right;
}

a {
  color: $secondary-color;

  &:hover {
    color: $primary-color;
  }
}

/* Smartphones (portrait and landscape) */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .ml-xs-0 {
    margin-left: 0px!important;
  }

  .pl-xs-0 {
    padding-left: 0px;
  }

  html {
    font-size: 0.7rem;
  }
}
