/* bootstrap variables & mixins */
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';
/* bootstrap-grid 4 */
@import '../../node_modules/bootstrap/scss/bootstrap-grid';
@import '../../node_modules/bootstrap/scss/utilities';

// Variables
@import 'variables';
// Shared style
@import 'global';
//Components
@import './components/header';
@import './components/footer';
@import './components/main';
@import './components/work';
@import './components/courses';
@import './components/personal-projects';
@import './components/list';